/* styles.css */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1e1e1e;
    color: #fff;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px); /* Adjust for header and footer height */
}

#chat-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

#chat-display {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 600px;
    overflow-y: auto;
}

#chat-response,
#chat-user-prompt {
    max-width: 90%;
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    word-wrap: break-word;
}

#chat-response {
    background-color: #444;
}

#chat-input-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: auto;
    background-color: #222;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 33%;
}

#chatbot-input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

#chatbot-send {
    padding: 10px;
    background-color: #555;
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}

#chatbot-send:hover {
    background-color: #666;
}


