/* styles.css */

body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #1e1e1e;
    color: #fff;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #333;
    padding: 10px;
    text-align: center;
    width: 100%;
}

nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

#chat-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    box-sizing: border-box;
    position: relative;
}

#chat-display {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    max-width: 600px;
    overflow-y: auto;
    margin-bottom: 25%; /* Space for the input container */
}

#chat-user-prompt,
#chat-response {
    max-width: 90%;
    background-color: #333;
    border-radius: 10px;
    padding: 10px;
    margin: 5px 0;
    word-wrap: break-word;
}

#chat-user-prompt {
    background-color: #444;
}

#chat-input-container {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
}

#chatbot-input {
    flex: 1;
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
}

#chatbot-send {
    padding: 10px;
    background-color: #555;
    border: none;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
}

#chatbot-send:hover {
    background-color: #666;
}

/* Styles for modern buttons similar to chatbot page */

#image-recognition-container {
    text-align: center;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    position: relative;
}

#result-text {
    margin-top: 10px;
    font-size: 18px;
}

video, canvas {
    width: 100%;
    height: auto;
    display: none;
}

#camera-preview {
    display: block;
}

img {
    width: 100%;
    height: auto;
    display: none;
}

button {
    padding: 10px 20px;
    background-color: #555;
    border: none;
    border-radius: 30px;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
}



footer {
    background-color: #333;
    padding: 10px;
    text-align: center;
    position: relative;
    width: 100%;
}


